<ion-header>
  <ion-navbar>
    <ion-title> {{ entry?.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions(entry?.id)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Service Details
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon color="secondary" name="home" item-left>
        </ion-icon>
        {{ entry?.name }}
      </ion-item>

      <ion-item>
        <ion-icon color="favorite" name="cash" item-left></ion-icon>
        {{ entry?.address }}
      </ion-item>
      
      <ion-item>
        <ion-icon color="favorite" name="call" item-left></ion-icon>
        {{ entry?.phone }}
      </ion-item>

      <ion-item>
        <ion-icon color="favorite" name="information-circle" item-left></ion-icon>
        {{ entry?.notes }}
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="calendar" item-left></ion-icon>
        <strong>{{ entry?.createDate }}</strong>
      </ion-item>

      <ion-item *ngIf="entry?.verified == true">
        <ion-icon color="favorite" name="checkmark" item-left></ion-icon>
        This service is validated
      </ion-item>

      <ion-item *ngIf="entry?.verified == false">
        <ion-icon color="danger" name="warning" item-left></ion-icon>
        This service is unvalidated
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
