# dependencies to ignore in docker
/.firebase
/.git
android-certs/
/node_modules
/platforms
/resources/android
/resources/ios
resources/old
screenshots/*
src/assets/img/old

*.mp4
.firebaserc
.gitignore
**/*.xcf
**/*~
database.rules.json

