// Add both firebase keys and Google Maps API for this to work
// then rename to credentials.ts

export const firebaseConfig = {
  apiKey: 'Axxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx4',
  authDomain: 'xxxxx.firebaseapp.com',
  databaseURL: 'https://xxxxx.firebaseio.com',
  projectId: 'xxxxx',
  storageBucket: 'xxxxx.appspot.com',
  messagingSenderId: '000000000000'
}

export const googleMapsKey = 'AxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxA'

export const appVersion = '0.0.9'
